[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = git://git.drupal.org/project/devel.git
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/git_deploy"]
	path = sites/all/modules/git_deploy
	url = git://git.drupal.org/project/git_deploy.git
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = git://git.drupal.org/project/pathauto.git
[submodule "sites/all/modules/transliteration"]
	path = sites/all/modules/transliteration
	url = git://git.drupal.org/project/transliteration.git
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = git://git.drupal.org/project/token.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://git.drupal.org/project/views.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/jquery_update"]
	path = sites/all/modules/jquery_update
	url = git://git.drupal.org/project/jquery_update.git
[submodule "sites/all/modules/panels"]
	path = sites/all/modules/panels
	url = git://git.drupal.org/project/panels.git
[submodule "sites/all/modules/views_bulk_operations"]
	path = sites/all/modules/views_bulk_operations
	url = git://git.drupal.org/project/views_bulk_operations.git
[submodule "sites/all/modules/globalredirect"]
	path = sites/all/modules/globalredirect
	url = git://git.drupal.org/project/globalredirect.git
[submodule "sites/all/modules/better_exposed_filters"]
	path = sites/all/modules/better_exposed_filters
	url = git://git.drupal.org/project/better_exposed_filters.git
[submodule "sites/all/themes/shiny"]
	path = sites/all/themes/shiny
	url = git://git.drupal.org/project/shiny.git
[submodule "sites/all/modules/login_destination"]
	path = sites/all/modules/login_destination
	url = git://git.drupal.org/project/login_destination.git
[submodule "sites/all/modules/admin_views"]
	path = sites/all/modules/admin_views
	url = git://git.drupal.org/project/admin_views.git
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = git://git.drupal.org/project/entity.git
[submodule "sites/all/modules/panelizer"]
	path = sites/all/modules/panelizer
	url = git://git.drupal.org/project/panelizer.git
[submodule "sites/all/modules/varnish"]
	path = sites/all/modules/varnish
	url = git://git.drupal.org/project/varnish.git
[submodule "sites/all/modules/redis"]
	path = sites/all/modules/redis
	url = git://git.drupal.org/project/redis.git
[submodule "sites/all/libraries/predis"]
	path = sites/all/libraries/predis
	url = git@github.com:nrk/predis.git
[submodule "sites/all/modules/metatag"]
	path = sites/all/modules/metatag
	url = git://git.drupal.org/project/metatag.git
[submodule "sites/all/modules/pathologic"]
	path = sites/all/modules/pathologic
	url = git://git.drupal.org/project/pathologic.git
[submodule "sites/all/modules/fpa"]
	path = sites/all/modules/fpa
	url = git://git.drupal.org/project/fpa.git
[submodule "sites/all/modules/userone"]
	path = sites/all/modules/userone
	url = git@github.com:AmazeeLabs/userone.git
[submodule "sites/all/modules/change_pwd_page"]
	path = sites/all/modules/change_pwd_page
	url = git://git.drupal.org/project/change_pwd_page.git
[submodule "sites/all/modules/panels_everywhere"]
	path = sites/all/modules/panels_everywhere
	url = git://git.drupal.org/project/panels_everywhere.git
[submodule "sites/all/themes/omega"]
	path = sites/all/themes/omega
	url = git://git.drupal.org/project/omega.git
[submodule "sites/all/modules/title"]
	path = sites/all/modules/title
	url = git@github.com:AmazeeLabs/title.git
[submodule "sites/all/modules/pathauto_persist"]
	path = sites/all/modules/pathauto_persist
	url = git://git.drupal.org/project/pathauto_persist.git
[submodule "sites/all/modules/redirect"]
	path = sites/all/modules/redirect
	url = http://git.drupal.org/project/redirect.git
[submodule "sites/all/modules/prevent_js_alerts"]
	path = sites/all/modules/prevent_js_alerts
	url = git://git.drupal.org/project/prevent_js_alerts.git
[submodule "sites/all/modules/media"]
	path = sites/all/modules/media
	url = git@github.com:AmazeeLabs/media.git
[submodule "sites/all/modules/ckeditor"]
	path = sites/all/modules/ckeditor
	url = git@github.com:AmazeeLabs/ckeditor.git
[submodule "sites/all/modules/webform"]
	path = sites/all/modules/webform
	url = git://git.drupal.org/project/webform.git
[submodule "sites/all/modules/webform_localization"]
	path = sites/all/modules/webform_localization
	url = git://git.drupal.org/project/webform_localization.git
[submodule "sites/all/modules/better_formats"]
	path = sites/all/modules/better_formats
	url = git://git.drupal.org/project/better_formats.git
[submodule "sites/all/modules/chosen"]
	path = sites/all/modules/chosen
	url = http://git.drupal.org/project/chosen.git
[submodule "sites/all/modules/field_reference_delete"]
	path = sites/all/modules/field_reference_delete
	url = http://git.drupal.org/project/field_reference_delete.git
[submodule "sites/all/modules/ife"]
	path = sites/all/modules/ife
	url = git@github.com:AmazeeLabs/ife.git
[submodule "sites/all/modules/i18n"]
	path = sites/all/modules/i18n
	url = git://git.drupal.org/project/i18n.git
[submodule "sites/all/modules/variable"]
	path = sites/all/modules/variable
	url = git://git.drupal.org/project/variable.git
[submodule "sites/all/modules/view_unpublished"]
	path = sites/all/modules/view_unpublished
	url = git://git.drupal.org/project/view_unpublished.git
[submodule "sites/all/modules/reroute_email"]
	path = sites/all/modules/reroute_email
	url = git://git.drupal.org/project/reroute_email.git
[submodule "sites/all/modules/entity_translation"]
	path = sites/all/modules/entity_translation
	url = git://git.drupal.org/project/entity_translation.git
[submodule "sites/all/modules/ultimate_cron"]
	path = sites/all/modules/ultimate_cron
	url = git://git.drupal.org/project/ultimate_cron.git
[submodule "sites/all/modules/image_link_formatter"]
	path = sites/all/modules/image_link_formatter
	url = git://git.drupal.org/project/image_link_formatter.git
[submodule "sites/all/modules/link"]
	path = sites/all/modules/link
	url = git://git.drupal.org/project/link.git
[submodule "sites/all/modules/role_delegation"]
	path = sites/all/modules/role_delegation
	url = git://git.drupal.org/project/role_delegation.git
[submodule "sites/all/modules/superfish"]
	path = sites/all/modules/superfish
	url = git@github.com:AmazeeLabs/superfish.git
[submodule "sites/all/modules/styleguide"]
	path = sites/all/modules/styleguide
	url = git://git.drupal.org/project/styleguide.git
[submodule "sites/all/modules/menu_attributes"]
	path = sites/all/modules/menu_attributes
	url = git://git.drupal.org/project/menu_attributes.git
[submodule "sites/all/modules/link_css"]
	path = sites/all/modules/link_css
	url = git://git.drupal.org/project/link_css.git
[submodule "sites/all/modules/role_export"]
	path = sites/all/modules/role_export
	url = git://git.drupal.org/project/role_export.git
[submodule "sites/all/modules/file_entity"]
	path = sites/all/modules/file_entity
	url = git@github.com:AmazeeLabs/file_entity.git
[submodule "sites/all/modules/entity_view_mode"]
	path = sites/all/modules/entity_view_mode
	url = git://git.drupal.org/project/entity_view_mode.git
[submodule "sites/all/modules/search_api_override"]
	path = sites/all/modules/search_api_override
	url = git://git.drupal.org/project/search_api_override.git
[submodule "sites/all/modules/maxlength"]
	path = sites/all/modules/maxlength
	url = git://git.drupal.org/project/maxlength.git
